# The releng team is by default the owner of everything.
*             @eclipse-m2e/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-m2e/eclipsefdn-security
